/* h1{ color:green } */
h1{color:#F0A050;}

th,td{border:dashed thick black;}
th.important{color:red;}
p.sample1 {border: double 10px #0000ff;}
p.sample2 {border: inset 10px #ff0000;}
p.sample3 {margin: 30px 30px;padding: 10px;border:medium solid #ff00ff;}

    alert(1 + 1);
alert(Math.sqrt(1 + 1));
alert(Math.sqrt(2) + Math.sqrt(3));
alert(1 / 0);
alert(0 / 0);
alert(2 + 3);
alert('2' + '3');
alert(Number('2') + Number('3'));
alert('2' + 3);
alert(Number('2') + 3);
